@import '../../styles/colors';

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 40px;
  font-family: roboto;
  background-color: $black;
  
  h1 {
    color: #fff;
    font-weight: normal;
    font-size: 24px;
  }

  .add {
    color: #fff;
    padding-right: 12px;
    margin-left: 6px !important;
  }
  
}